{% extends 'base.html' %}
{% load static %}

{% block body %}
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/image-music.jpeg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/image-music-2.jpeg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item ">
            <img src="{% static 'images/Black Simple Music Channel Youtube banner.jpeg' %}" class="d-block w-100"
                alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<!--##################################################CARDS#############################################-->
<h1 style="padding-top: 2%;padding-left: 2%;">Trending Songs</h1>
<div class="row" style="padding-left: 7%;gap: 25px;padding-top: 2%;background-color: black; display: flex;">

    {% for i in song %}
    <div class="card" style="width: 18rem;">
        <img src="/media/{{i.image}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{i.name}}</h5>
            <p class="card-text">{{i.tags}}</p>
            <a href="/songs/{{i.id}}" class="btn btn-primary">Listen</a>
        </div>
    </div>

    {% endfor %}

    <h2 style="padding-top: 2%;padding-left: 2%;color:whitesmoke;">Your Favourite Songs</h2>
    <div class="row" style="padding-left: 7%;gap: 25px;padding-top: 2%; display: flex;padding-bottom: 7%;">
        {% if UserFav %}
        {% for fav in UserFav %}
        <div class="card" style="width: 18rem;">
            <img src="{{ fav.song.image.url }}" class="card-img-top" alt="{{ fav.song.name|default:'Unknown Song' }}">
            <div class="card-body">
                <h5 class="card-title">{{ fav.song.name|default:'Unknown Song' }}</h5>
                <p class="card-text">{{ fav.song.tags|default:'No tags available' }}</p>
                <a href="{% url 'songpost' fav.song.id %}" class="btn btn-primary">Listen</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p style="padding-left: 2%; color: whitesmoke;">You have no favorite songs yet. Add some from the songs page!
        </p>
        {% endif %}
    </div>

</div>

{% endblock body %}