{% extends 'base.html' %}
{% block title %}All Songs{% endblock %}

{% block body %}
<div style="background-color: rgb(71, 6, 6);padding-left: 7%;">
    {% for i in song %}
    <div class="card mb-3" style="max-width: 940px;padding-top: 3%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/media/{{i.image}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" style="color: black; font: weight 550px;">{{i.name}}</h5>
                    
                    <p class="card-text">{{i.get_mood_display }}</p>
                    <a href="/songs/{{i.id}}">
                        <button class="btn btn-outline-danger">Listen</button>
                    </a>
                    <a href="{% url 'add_to_fav' i.id %}">
                        <button class="btn btn-outline-danger">Add to Fav</button>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
  
</div>
{% endblock %}
